doctype html
html(lang="ru")
  
  include _head
  
  body 

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi provident eligendi, vero delectus rem officia assumenda qui sit incidunt nihil maiores enim. Culpa accusantium voluptate aliquid, delectus voluptatibus odit aspernatur.